.Rproj.user
.Rhistory
.RData
.Ruserdata

/**/Interim/*.*
!/**/Interim/.gitkeep

/**/Interim/Dated/*
!/**/Interim/Dated/.gitkeep

/**/Interim/Checksum/*
!/**/Interim/Checksum/.gitkeep

/**/Interim/Supply_curves/*
!/**/Interim/Supply_curves/.gitkeep

/**/Interim/Plots/*
!/**/Interim/Plots/.gitkeep

/**/Output/*.*
!/**/Output/.gitkeep

/**/Output/Dated/*
!/**/Output/Dated/.gitkeep

/**/Output/Checksum/*
!/**/Output/Checksum/.gitkeep

/**/Output/Supply_curves/*
!/**/Output/Supply_curves/.gitkeep

/**/Output/MAC curve plots/*
!/**/Output/MAC curve plots/.gitkeep

/**/Output/Plots/*.*
!/**/Output/Plots/.gitkeep

/**/Output/Plots/FI/*
!/**/Output/Plots/FI/.gitkeep

/**/Output/Plots/Equity/*
!/**/Output/Plots/Equity/.gitkeep

/**/Output/Plots/MSCI_waterfalls/*
!/**/Output/Plots/MSCI_waterfalls/.gitkeep

/**/Output/Plots/CC_waterfalls/*
!/**/Output/Plots/CC_waterfalls/.gitkeep

/**/Output/Plots/DD_waterfalls/*
!/**/Output/Plots/DD_waterfalls/.gitkeep

/**/Output/Plots/CM_waterfalls/*
!/**/Output/Plots/CM_waterfalls/.gitkeep

Graveyard/
Sent_to_Adam/
Fixed_Income/
